body{
    background-color: rgba(42, 78, 55, 0.8) !important;
}

.imagenNosotros{
    margin-top: 200px;
    margin-left: 330px;
}

.bloqueNosotros{
    margin-top: 20px;
    display: flex;
    border: 1px solid black;
    color: white;
    padding: 61px;
}

.bloqueNosotros:hover{
    cursor: pointer;
    border: 1px solid blue;
    transition: border 0.6s ease;

}

.navbarMover{
    margin-right: 50px;
    
}

.navbarHome{
    margin-left: 450px;
}

.h1texto{
    margin: 35px;
    text-align: center;
}