
.imgfondoPrimero {
    width: 100%;        
    height: 90vh;      
    top: 0;
    left: 0;
}

.imgLogo{
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primerParrafo {
    margin-top: 450px;
    margin-right: 300px;

}

@media(max-width: 1629px){

    .primerParrafo {
        margin-top: 370px;
        margin-right: 300px;
        margin-left: 200px;
    
    }
}

@media(max-width: 1429px){

    .primerParrafo {
        margin-top: 320px;
        margin-right: 300px;
        margin-left: 200px;
    
    }
}


@media(max-width: 991px){
    .sideBar {
        background-color: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px); /* Aplica el filtro de desenfoque */

    }
}
